[Desktop Entry]
Name=Stringrolled
Comment=Help a cat and a princess escape a castle
Exec=run_game.py
Terminal=false
Type=Application
StartupNotify=true
Icon=icon
Categories=games;
